body{
    background-color: #fdf7f0;
}

#header img{
    text-align:center;
}

.title1{
    color:#FDBB6A;
    text-align:center;
    font-size:80px;
}

.title2{
    color:#F4766A;
    text-align:center;
    font-size:80px;
}

.group{
    margin-bottom:30px;
}

.summary{
    text-align:center;
}