body{
    background-color: #fdf7f0;
}

#header img{
    text-align:center;
}

.title1{
    color:#FDBB6A;
    text-align:center;
    font-size:80px;
    margin-top:35px;
}

.title2{
    color:#F4766A;
    text-align:center;
    font-size:80px;
}

.group{
    margin-top:35px;
}

.summary{
    text-align:center;
    color:#797979;
    font-family:"Montserrat", sans-serif;
    margin-top:35px;
   
}

.title3{
    color:#FDBB6A;
    text-align:center;
    font-size:80px;
    margin-top:35px;
}