@charset "utf-8";

.internship_page {
    overflow: hidden;
}

.banner {
    max-width: 100%;
}

.group_pic {
    max-width: 100%;
    box-shadow: 5px 5px 29px 5px rgb(105 56 69 / 31%);
}

.parent {
    position:relative;
    background-color:transparent;
}

/* .lucretia {
    margin-left:20px;
    position:relative;                                                               
} */

/* .zelia {
    margin-right:20px;
    position:relative;   
} */

.border-1 {
    width:225px;
    height:225px;
    border:3px solid #FDBB6A;
    position:absolute;
    bottom:20px;
    right:20px;
}

.border-2 {
    width:225px;
    height:225px;
    border:3px solid #FDBB6A;
    position:absolute;
    bottom:20px;
    left:20px;
}

.text-1 {
    margin-right:20px;
    text-align:left;
}

.text-2 {
    margin-left:20px;
    text-align:right;
    margin-bottom: 35px;
}

.header {
    font-weight:bold;
}


body{
    background-color: #fdf7f0;
}

#header img{
    text-align:center;
}

.title1{
    font-family: "Poppin", sans-serif;
    color:#FDBB6A;
    text-align:center;
    font-size:80px;
    margin-top:35px;
    font-weight: 800;
}

.title2{
    font-family: "Poppin", sans-serif;
    color:#F47655;
    text-align:center;
    font-size:32px;
    font-weight: 800;
}

.group{
    margin-top:35px;
}

.summary{
    text-align: left;
    color: #797979;
    font-family: "Montserrat", sans-serif;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orangebg{
    background-image: linear-gradient(to right, #FDBB6A, #F8A261, #F89353, #F47655);
    padding-bottom: 50px;
}

.recollections{
    font-family: "Poppin", sans-serif;
    color:#ffffff;
    text-align:center;
    font-size:80px;
    margin-top:35px;
    padding-top: 35px;
    font-weight: 800;
}

.internship_page .card {
    margin-bottom: 15px;
}

.centralise {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* @media screen and (min-width: 568px){
.cards-wrapper {
    margin-top:35px;
    display: flex;
    margin-bottom:35px;
}

.card {
    margin: 15px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius:5px;
}

}

@media screen and (min-width: 587px){
.card img {
    max-width: 100%;
    max-height: 100%;
  }

}

.carousel-control-prev,
.carousel-control-next {
    
    background-color: #e1e1e1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50%;
}

.carousel-control-next-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-control-prev-icon {
background-image:  url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
} */

.afterthoughts{
    color:#FDBB6A;
    text-align:center;
    font-size:80px;
    margin-top:35px;
    margin-bottom:35px;
    font-weight: 800;
}

.internship_page h3{
    font-size: 28px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Slick Slider */

.slick-dotted.slick-slider {
    margin-top: 50px;
}

.slick-prev:before,
.slick-next:before {
  color: red;
}

button.slick-prev.slick-arrow {
    z-index: 1;
}

.slick-prev {
left: 0px;
}

.slick-next {
right: 0px;
}

.slick-nav {
    position: relative;
    bottom: 55px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    color: #FDF7F0;
    opacity: 20%;
}

.slick-dots li {
    width: 20px;
    height: 20px;
    margin: 0 84px;
    padding: 0;
}

ul.slider.slick-initialized.slick-slider.slick-dotted {
    padding: 0;
}

span.captions {
    position: relative;
    top: 48px;
    /* left: 30%; */
    padding-left: 50px;
}

@media only screen and (max-width: 991px){
    .slick-prev, .slick-prev.slick-disabled, .slick-next, .slick-next.slick-disabled{
        margin-top: -8%;
    }
}

@media only screen and (max-width: 767px){
    .slick-dots li {
    width: 20px;
    height: 20px;
    margin: 0 75px;
    padding: 0;
}

.slick-prev, .slick-prev.slick-disabled, .slick-next, .slick-next.slick-disabled {
    width: 30px !important;
    height: 30px !important;
    margin-top: -20%;
    }

    .slick-slide img {
        width: 80% !important;
        }

        .description, .smalltitle{
            width: 80% !important;
        }

}

@media only screen and (max-width: 540px){
    .slick-dots li {
    width: 20px;
    height: 20px;
    margin: 0 60px;
    padding: 0;
}
}

@media only screen and (max-width: 450px){
    .slick-dots li {
    width: 20px;
    height: 20px;
    margin: 0 50px;
    padding: 0;
}
}

@media only screen and (max-width: 490px){
    .slick-prev, .slick-prev.slick-disabled, .slick-next, .slick-next.slick-disabled{
        margin-top: -25%;
    }
}

@media only screen and (max-width: 416px){
    .slick-prev, .slick-prev.slick-disabled, .slick-next, .slick-next.slick-disabled{
        margin-top: -32%;
    }
}

@media only screen and (max-width: 390px){
    .slick-dots li {
    width: 20px;
    height: 20px;
    margin: 0 30px;
    padding: 0;
}
.slick-prev, .slick-prev.slick-disabled, .slick-next, .slick-next.slick-disabled {
    margin-top: -36%;
}
}

@media only screen and (max-width: 336px){
    .slick-prev, .slick-prev.slick-disabled, .slick-next, .slick-next.slick-disabled{
        margin-top: -49%;
    }
}

/* .slick-dots {
position: absolute;
display: block;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
text-align: center;
top: -50px;
} */

.container {
padding-top: 100px;
}

.slick-slide img {
width: 100%;
}

.smalltitle{
font-family:"poppin", sans-serif;
color:#FDF7F0;
font-size:30px;
font-weight:600;
width:100%;
}

.description {
font-family:"montserrat", sans-serif;
color:#FDF7F0;
font-size:17px;
width: 100%;
}

.group-picture {
display: flex;
flex-direction: column;
align-items: center;
}

.slick-prev:before,.slick-next:before {
content: '';
}

.slick-prev {
background-image: url('images/internship-arrow-left-active.png');
background-size: cover;
width: 50px;
height: 50px;
}

.slick-prev.slick-disabled{
background-image: url('images/internship-arrow-left-inactive.png');
background-size: cover;
width: 50px;
height: 50px;
}

.slick-next {
background-image: url('images/internship-arrow-right-active.png');
background-size: cover;
width: 50px;
height: 50px;
}


.slick-next.slick-disabled{
background-image: url('images/internship-arrow-right-inactive.png');
background-size: cover;
width: 50px;
height: 50px;
}

.slick-prev:hover, .slick-prev:focus {
background-image: url('images/internship-arrow-left-active.png');
background-size: cover;
width: 50px;
height: 50px;
}

.slick-next:hover, .slick-next:focus {
background-image: url('images/internship-arrow-right-active.png');
background-size: cover;
width: 50px;
height: 50px;
}

.slick-next.slick-disabled:focus{
    background-image: url('images/internship-arrow-right-inactive.png');
    background-size: cover;
    width: 50px;
    height: 50px;
}

.slick-prev.slick-disabled:focus{
    background-image: url('images/internship-arrow-left-inactive.png');
    background-size: cover;
    width: 50px;
    height: 50px;
}

.slick-dots li.slick-active button:before {
    color: #FDF7F0;
    opacity: unset;
}

.slick-dots::before {
    content: '';
    height: 2px;
    position: absolute;
    background: white;
    width: 90%;
    top: 60%;
    left: 60px;
    transform: translate(0, -50%);
}

.slick-active button#slick-slide-control00:after {
    content: 'JUL';
    font-size: 16px;
    z-index: 1;
    color: #FDF7F0;
    opacity: 100%;
    position: absolute;
    top: 130%;
}

.slick-active button#slick-slide-control01:after {
    content: 'AUG';
    font-size: 16px;
    z-index: 1;
    color: #FDF7F0;
    opacity: 100%;
    position: absolute;
    top: 130%;
}

.slick-active button#slick-slide-control02:after {
    content: 'SEP';
    font-size: 16px;
    z-index: 1;
    color: #FDF7F0;
    opacity: 100%;
    position: absolute;
    top: 130%;
}

button#slick-slide-control00:after {
    content: 'JUL';
    font-size: 16px;
    z-index: 1;
    color: #FDF7F0;
    opacity: 20%;
    position: absolute;
    top: 130%;
    left: 0px;
}

button#slick-slide-control01:after {
    content: 'AUG';
    font-size: 16px;
    z-index: 1;
    color: #FDF7F0;
    opacity: 20%;
    position: absolute;
    top: 130%;
    left: -5px;
}

button#slick-slide-control02:after {
    content: 'SEP';
    font-size: 16px;
    z-index: 1;
    color: #FDF7F0;
    opacity: 20%;
    position: absolute;
    top: 130%;
    left: -2px;
}
/* Cards */

.film-inner{
    background: #fff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    min-width: -webkit-fill-available;
}

.film-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

img.card-img-top {
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px rgb(105 56 69 / 50%);
}

.internship_page .card {
    margin-bottom: 15px;
    border: 0px;
}

.card-spacing{
    margin-bottom: 50px;
}
.lucretia.film-inner, .lucretia .card{
    background-color: #F8A261;
}

.zelia.film-inner, .zelia .card{
    background-color: #F89353;
}


/* Responsive */

@media only screen and (min-width: 567px) and (max-width: 818px){
    .internship_page h3{
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px){
    .internship_page h1{
        font-size: 40px;
    }

    .border-1, .border-2{
        display: none;
    }
/* 
    .lucretia{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid #FDBB6A;
    bottom: 20px;
    margin-top: 20px;
    }

    .zelia{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid #FDBB6A;
    bottom: 20px;
    } */

    .text-1 .header {
        position: relative;
        bottom: 170px;
        font-size: 48px;
    }

    .text-1 p {
        position: relative;
        bottom: 50px;
    }

    .column-2{
        display: flex;
        flex-direction: column-reverse;
    }

    .text-2 .header {
        position: relative;
        bottom: 170px;
        font-size: 48px;
    }

    .text-2 p {
        position: relative;
        bottom: 50px;
    }

}

@media only screen and (max-width: 575px){
    .text-1 .header{
        bottom: 150px;
    }

    .text-2 .header{
        bottom: 150px;
    }

    .recollections{
        padding-bottom: 35px;
    }

}

@media only screen and (max-width: 425px){
    .text-1 .header{
        font-size: 25px;
        bottom: 50px;
    }

    .text-2 .header{
        font-size: 25px;
        top: -50px;
    }
}

@media only screen and (max-width: 390px){
    .internship_page h1{
        font-size: 25px;
    }
}